* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* 设置头部 */
div.header {
    width: 100%;
    height: 50px;
    background-color: #5fc0cd;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
}

div.backgroundIcon {
    width:21px;
    height: 22px;
    /*background-color: green;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto 0;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -407px;

}

div.boosWorker {
    width: 40%;
    height: 80%;
    /* 设置四个角的弧度为5px */
    border-radius: 5px;
    background-color: #55a8b3;
    /* 设置div垂直水平居中 和父元素display: flex; 相关联 */
    margin: auto;
    display: flex;
}

.header > div > p {
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.1rem;
    display: inline-block;
    /* 设置文字垂直水平居中 和父元素display: flex; 相关联 */
    margin: auto;
}

p.boos {
    color: #fff;
}

/* 设置头部结束 */
p.worker {
    color: #5fc0cd;
    border-radius: 5px;
    background-color: #fff;
}

p.worker, p.boos {
    /* 使用 overflow: hidden; 把超出的内容隐藏 */
    overflow: hidden;
    /* 使用 white-space: nowrap; 设置内容不换行 */
    white-space: nowrap;
    /* 使用text-overflow: ellipsis; 设置超出的内容为省略号 */
    text-overflow: ellipsis;
}

/* 设置body */
div.body {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.bodyTop {
    width: 100%;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e1e5e7;
}

div.bodyTop > div {
    width: 33%;
    height: 40px;
    float: left;
    display: flex;
    position: relative;
}

div.backgroundIconDown {
    width: 7px;
    height: 4px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto 0;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -20px;
}

div.bodyTop > div > p {
    margin: auto;
    color: #999999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.food, div.patient {
    background: -webkit-linear-gradient(#fff, #e1e5e7, #fff);
    background: -o-linear-gradient(#fff, #e1e5e7, #fff);
    background: -moz-linear-gradient(#fff, #e1e5e7, #fff);
    background: linear-gradient(#fff, #e1e5e7, #fff);
    background-size: 1px 98%;
    background-repeat: no-repeat;
    background-position: top left;
}

div.dropDown {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 100%;
    max-width: 150%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}

div.dropDown > p {
    font-size: 0.9rem;
    /* 使用 overflow: hidden; 把超出的内容隐藏 */
    overflow: hidden;
    /* 使用 white-space: nowrap; 设置内容不换行 */
    white-space: nowrap;
    /* 使用 text-overflow: ellipsis; 设置超出的内容为省略号 */
    text-overflow: ellipsis;
}

div.bodyTop > div:hover .dropDown {
    display: block;
}

/* bodyList */
div.bodyList > div {
    width: 100%;
    height: 35px;
    position: relative;
}

div.bodyList > div > p {
    position: absolute;
}

div.time > p {
    bottom: 0;
}

div.time > p, div.city > p {
    font-size: 0.8rem;
    left: 40px;
    color: #d0d0d0;
}

div.city {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e1e5e7;
}

div.timeMoney > p {
    font-size: 0.9rem;
    line-height: 35px;
}

div.timeMoney > p.time2 {
    left: 40px;
}

p.money {
    color: red;
    right: 0;
    margin-right: 50px;
}

div.time > p, p.time2, div.city > p {
    /* 设置当屏幕变窄是左边的文字隐藏不换行, 用..代替 */
    width: 46%;
    /*background-color: pink;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.backgroundIconTime {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -64px;
}

div.backgroundIconMoney {
    width: 10px;
    height: 17px;
    position: absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    margin: auto 0;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -168px;
}

div.backgroundIconCity {
    width: 10px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 20px;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -116px;
}



/* footer */
div.footer {
    width: 100%;
    height: 50px;
    background-color: #f8fafb;
    position: fixed;
    bottom: 0;
}

div.box {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

div.box > div.firstPage {
    position: absolute;
    bottom: 5px;
}

div.box > div.me {
    position: absolute;
    right: 2px;
    bottom: 5px;
}

div.backgroundIconEdit {
    width: 50px;
    height: 50px;
    background-color: #5fc0cd;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

div.backgroundIconFirstPage {
    width: 23px;
    height: 20px;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -225px;
    position: absolute;
    top: 5px;
    left: 0;
}

div.backgroundIconEdit2 {
    width: 20px;
    height: 21px;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -285px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

div.backgroundIconMe {
    width: 21px;
    height: 21px;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -346px;
    position: absolute;
    top: 5px;
    right: 2px;
}

div.firstPage {
    font-size: 0.7rem;
    color: #5fc0cd;
}

div.me {
    font-size: 0.7rem;
    color: #a6a7a7;
}